---
import Layout from "../layouts/Base.astro";
---

<Layout
  title="About This Blog"
  description="Lorem ipsum dolor sit amet"
  image="/blog-placeholder-about.jpg"
>
  <h1 class="title">About</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec mauris
    nec n
  </p>
</Layout>
