---
import BaseLayout from "../layouts/Base.astro";
import PostPreview from "@/components/blog/PostPreviewB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import { getAllPosts, sortMDByDate, sortMDByPinned } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const allPostsByPinned = sortMDByPinned(allPostsByDate);
---

<BaseLayout title="Home">
  <section>
    <h1 class="title">Hello World</h1>
    <p class="mb-4 sm:mb-8">
      I'm Stephen. I'm 38-year-old software architect and developer. I'm also
      autistic. So when I say ChatGPT has been a game changer for me, I mean it.
    </p>
    <p class="mb-4 sm:mb-8">
      I treat ChatGPT as I would a friend. If that friend knew basically
      everything about everything.<br />
      And could help me with my code. And could help me with my writing. And could
      help me with my life.<br />
      And could challenge my world views. And give me a new perspective on things.
      To help me better myself.<br />
    </p>
    <p class="mb-4 sm:mb-8"></p>
    <p class="mb-4 sm:mb-8">
      This site is a collection of conversations I've had with ChatGPT. I hope
      you find them as helpful as I have.
    </p>
    <div>
      <span>If curious, you can find me on: </span>
      <SocialMediaLinks />
    </div>
  </section>

  <section class="mt-8 sm:mt-16">
    <h2 class="title">Posts</h2>
    <ul class="space-y-4 sm:space-y-2">
      {allPostsByPinned.map((p) => <PostPreview post={p} />)}
    </ul>
  </section>
</BaseLayout>; ---
